*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
}
#section1{
    width: 100vw;
    height: 100vh;
}
nav{
    width: 100vw;
    background: linear-gradient(to right,#2C69FA,#8040F3) ;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    font-size:12px;

}
#s1top{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
/* #s1top img{
    
} */
#s1top i{
    font-size: 1.3rem;
}
#s1mid{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: aliceblue;
}
#s1mid img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#s1bot{
    background: linear-gradient(to bottom,#F0F8FF,#F5F6FA,#FAE0EA );
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#s1bot h1{
    margin-bottom: 2rem;
    font-size: 2rem;
}
#s1bot p{
    font-size: 2rem;
}
#Section2{
    width: 100vw;
}
.card{
    width: 100%;
}
.line{
    width: 90%;
    height: 10px;
}